@import "_modal.scss";

.scanner {
  &.modal {
    @extend %modal;

    video {
      display: inline-block;
      max-width: 100%;
    }

    canvas {
      display: none;
    }
  }

  a {
    background: white;
  }
}
