.book {
    flex-basis: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
}

.book img {
    max-width: 100%;
    height: auto;
}
.book .cover {
    display: flex;
    max-width: 100%;
    background: tan;
    aspect-ratio: 1 / 1.5;
    align-items: center;
    justify-content: space-around;
    font-size: 1.25rem;
    padding: .5em;
    line-height: 1.25em;
    box-sizing: border-box;
}
