@import "../_helpers.scss";

.details {
  & > * {
    background: white;
    padding: 1rem;
    max-width: 95vw;
    width: 640px;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;

    button,
    a {
      background: white;
      padding: 0.25em 0.5em;
      margin: 0.5em 0;
      border-radius: 0.25em;
      border: none;
      font-size: 1rem;
      color: inherit;
      font-family: inherit;
      text-decoration: none;

      @include shadow(1);
      transition: all 0.2s ease-in-out;

      &:hover {
        cursor: pointer;
        @include shadow(0.5);
      }
    }
  }
}
