@import "../_helpers.scss";

.books {
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  padding: 2rem 1.5rem;
  gap: 3rem;

  @include scroll-shadow-vertical();

  &:after {
    content: " ";
    flex-grow: 10;
  }
}

.book-list {
  display: flex;
  flex-direction: column;
}

.search-box {
  padding: 0 1rem 1rem;
  display: flex;

  input {
    font-size: 0.75rem;
    padding: 1em;
    display: block;
    flex-grow: 1;

    $offset: 5px;

    transition: 0.2s ease-in-out box-shadow;
    border: none;
    box-shadow: 0px -5px 3px 0px rgba(170, 170, 170, 0.2), 0px 2px 5px 0px rgba(170, 170, 170, 0.25),
      0px 5px 5px 0px rgba(119, 119, 119, 0.3);

    &:focus {
      outline: none;
    }
  }
}
